{{ define "main" }}



{{ $image :=
  .Params.featured_image }}

  {{ $video :=
    .Params.featured_video }}

  <main>

    <div style="background: white;">
  <header style="padding-top: 100px; margin-bottom: 50px;" class="wrap-wide">
      <h1 style="font-size: calc(16px + 6vw);">
        {{ .Title }}
      </h1>
  </header>

  

    <section id="single" class="p-bot-50">
      <div class="wrap">

        {{ if .Param "featured_video" }}
          <video src="{{$video}}" controls></video>
        {{ end }}

        

        <div class="content" style="padding-top:75px;padding-bottom:75px;">
          {{ .Content }}
        </div>

      </div>
      
    </div> 
</section>
</div>
</main>

<script src='{{ "/js/medium-zoom.min.js" | relURL }}'></script>

<script>
  mediumZoom(document.querySelectorAll('#single img.zoom'))
</script>

{{ end }}


